body, html, video, #videocontainer {
    margin:0;
    padding:0;
    background:#000;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    object-fit: contain;
}
video::-webkit-media-controls {
    display:none !important;
}
#controls {
    z-index: 2147483647;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    background: rgba(2, 2, 2, .7);
}
#controls ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#controls ul li {
    display: inline-block;
}
#controls button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    outline: none;
}
#controls button:hover {
    text-shadow: 0px 0px 5px #fff;
}
#controls button:active {
    text-shadow: 0px 0px 20px #fff;
}
#controls input {
    font: 15px 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: none;
    padding: 11px 14px 12px 14px;
    width: 100%;

    -moz-appearance: none;
    -webkit-appearance: none;
    resize: none;
    outline: 0;
}
#controls input:focus {
    background: rgba(0, 0, 0, 0.9);
}
#controls input::placeholder,
#controls input:-ms-input-placeholder,
#controls input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 1; /* Firefox */
}
input::-webkit-calendar-picker-indicator {
    background-color: inherit;
}

.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.fade-out #controls {
    display: block;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 0.2s, opacity 0.2s;
        -moz-transition: visibility 0.2s, opacity 0.2s;
        -ms-transition: visibility 0.2s, opacity 0.2s;
        -o-transition: visibility 0.2s, opacity 0.2s;
            transition: visibility 0.2s, opacity 0.2s;
}
.fade-out {
    cursor: none;
}